doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- STYLESHEETS
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
    link(rel="stylesheet", href="chosen/chosen.min.css")
    link(rel="stylesheet", href="app.css")
    //- CONTENT
    title Diablo 3 Pickit Editor
  body
    div
      header.page-header.row
        h1 Diablo 3 Pickit Editor
      #main-menu
        .form-inline
          .form-group
            label(for="build-nr-fld") Build Nr.:
            input#build-nr-fld.form-control(type="text").input-sm
          button#add-build-btn.btn.btn-default.btn-sm ADD
          input(type="file")#load-list-btn
          input(type="button" value="LOAD")#load-list-handle.btn.btn-default.btn-sm
          button#save-list-btn.btn.btn-default.btn-sm SAVE
          button#generate-btn.btn.btn-default.btn-sm GENERATE
          button#reset-list-btn.btn.btn-default.btn-sm RESET
          //- button#help-btn.btn.btn-default.btn-sm HELP
    main
      table#item-table
    footer#bottom
      h4 velok 2016
    
    //- SCRIPTS
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73823030-1', 'auto');
      ga('send', 'pageview');

    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    script(src="/chosen/chosen.jquery.min.js")
    script(src="/filesaver/FileSaver.min.js")
    script(src="libs.js")
    script(src="templates.js")
    script(src="app.js")
    script.
      const jade = require('jade/runtime');
      require('scripts/app');
    //- SCRIPTS
